[submodule "pmoves-catwalk"]
	path = pmoves-catwalk
	url = https://github.com/POWERFULMOVES/pmoves-catwalk.git
[submodule "pmoves-gum"]
	path = pmoves-gum
	url = https://github.com/POWERFULMOVES/pmoves-gum.git
[submodule "pmoves-vhs"]
	path = pmoves-vhs
	url = https://github.com/POWERFULMOVES/pmoves-vhs.git
